<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621278035533-5bsp5g75jlkmcn0fn8f15lt94i0j19m6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621278035533-5bsp5g75jlkmcn0fn8f15lt94i0j19m6</string>
	<key>API_KEY</key>
	<string>AIzaSyAIAETaR2mbeMInZikxwQ44ooJVacHFx7U</string>
	<key>GCM_SENDER_ID</key>
	<string>621278035533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-projects-e75f7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projects-e75f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621278035533:ios:c4b88d02e2ec20013ae604</string>
</dict>
</plist>